
@{
    ViewBag.Title = "Index";
}

<div class="header">
    <a href="#"><img src="~/Content/img/logo.png" alt="Realestate"></a>
    <div></div>

    <h2>Bienvenue @HomeShare.Helper.MaSession.Login</h2>

    <ul class="pull-left">

        <li><a href="~/ZoneMembre/Home/ListeBiens">Mes biens</a></li>
        <li><a href="~/ZoneMembre/Home/AjouterBien">Ajouter un bien</a></li>    
        <li><a href="buysalerent.php">Les demandes d'échange</a></li>
        <li><a href="~/ZoneMembre/Home/LogOut">Se deconnecter</a></li>
    </ul>
</div>
</div>

